@using Sports_equipment_store.Models;

@{
    ViewBag.Title = "PantsPage";
}
<div>

    <div class="cardContainer">
        @foreach (Clothing item in @ViewBag.AllPants)
        {
            <div class="cardDiv">
                <img src=@item.ImageLink_ class="">
                <h4 class="">type:@item.TypeGarment</h4>
                <p>model: @item.Model</p>
                <p class="">price: @item.Price$ </p>
                <p> company: @item.Company</p>
            </div>
        }
    </div>
</div>